*.so
*.o
.startuccess_game

.startsuccess_game

game/lib/lua-kcp/.vscode/

game/lib/lua-mapsearch/.vscode/
.idea/
/game/lib/lua-map/testmain
/dbconflocal.lua
/log
/game/gamestartconf_daemon
/skynet.pid
/faketime.rc
/game/lib/libenet/build
/cmake-build-debug
/testmain
/*.log
